/* Common */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
div.contenitore{
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    border: 1px solid red;
}
clearfix::after{
    content:"";
    clear:both;
    display: table;
}

/* Debug style  */
header{
    height: 35rem;
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-size: 950px;
    background-repeat: no-repeat;
    background-position: 120% 115%;
}

main{
    /* height: 600px; */
    background-color: #ffffff;
}
footer{
    height: 100px;
    background-color: #d3d3d3;
}

/* nav style  */
nav{
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding-top: 1rem;
}

div.box{
    float:left;
}


div.logo.box{
    width: 15%;
}

div.central.box{
    width: 50%;
}
div.right.box{
    width: 35%;
    text-align: right;
}

div>a {
    color:#d4dbe3;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7rem;
    padding: 0.8rem;
}

div.right.box > a.link{
    border-radius:5px;
    padding:0.5rem;
}
div.right.box > a.link.login{
    border: 1px solid white;
    margin: 0 1rem 0 0;
}
div.right.box > a.link.str{
    background-color: #7cbb05;
}

/* aside style  */
aside.aside-box{
    position: absolute;
    left:0;
    top:45%;
}
aside>h3{
    color:white;
    font-size: 3rem;
    width: 60%;
}

aside>a{
    color:#d4dbe3;
    background-color: #7cbb05;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7rem;
    display: inline-block;
    margin-top: 1.5rem;
    padding:1rem;
    border-radius: 5px;
}
    
/* MAIN style  */

    /* Div grey  */
main>div.main-top{
    /* height: 10rem; */
    background-color: #d3d3d3;
    text-align: center;
    padding:2.5rem;
}
div.main-top>h4{
    font-size: 1.7rem;
}
div.main-top>p{
    color: #878787;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

    /* Main Sections */
div>.section{
    height: 20rem;
}
div>.section:first-child{
    border:2px solid orange;
}
div>.section:last-child{
    border:2px solid purple;
}


div>.section>.card{
    float: left;
    height:100%;
    width: calc(100%/ 3 - 20px/3);
    background-color:green;
    margin-right: 10px;
    
}
div>.section>.card:last-child{
    margin-right: 0;
}


div>.section>.card>img{
    height: 50%;
}
