/* Common */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    min-width: 75rem;
}
div.contenitore{
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
}
clearfix::after{
    content:"";
    clear:both;
    display: table;
}

/* Debug style  */
header{
    height: 32rem;
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-size: 950px;
    background-repeat: no-repeat;
    background-position: 120% 115%;
}

main{
    /* height: 600px; */
    background-color: #ffffff;
}


/* nav style  */
nav{
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding-top: 1rem;
}

div.box{
    float:left;
}


div.logo.box{
    width: 15%;
}

div.central.box{
    width: 50%;
}
div.right.box{
    width: 35%;
    text-align: right;
}

div.box>a {
    color:#d4dbe3;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7rem;
    padding: 0.8rem;
}

div.right.box > a.link{
    border-radius:5px;
    padding:0.5rem;
}
div.right.box > a.link.login{
    border: 1px solid white;
    margin: 0 1rem 0 0;
}
div.right.box > a.link.str{
    background-color: #7cbb05;
}

/* aside style  */
aside.aside-box{
    position: absolute;
    left:0;
    top:40%;
   
}
aside>h3{
    color:white;
    font-size: 3rem;
    width: 60%;
}

aside>a{
    color:#d4dbe3;
    background-color: #7cbb05;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7rem;
    display: inline-block;
    margin-top: 1.5rem;
    padding:1rem;
    border-radius: 5px;
}
    
/* MAIN style  */
main{
    position: relative;
}
    /* Div grey  */
main>div.main-top{
    background-color: #d3d3d3;
    text-align: center;
    padding:2.2rem;
}
div.main-top>h4{
    font-size: 1.7rem;
}
div.main-top>p{
    color: #878787;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

    /* First/top Section */
div>.section{
    height: 55vh;
}

div>.section.top>.card{
    float: left;
    height:100%;
    width: calc(100%/ 3 - 30px/3);
    margin-right: 15px;
    text-align: center;
    position: relative;
    
}
div>.section.top>.card:last-child{
    margin-right: 0;
}


div>.section.top>.card>img{
    height: 50%;
    width: 100%;
    padding: 1.5rem;
}

div>.section.top>.card>h5{
    color:#7dbb05;
    font-size: 1.5rem;
}

div>.section.top>.card>h5::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color:#c1c1c1;
    position: absolute;
    left: 50%;
    margin-top: 1rem;
    transform: translateX(-50%);
}

div>.section.top>.card>p{
    margin: 2rem 0;
    color: #969696;
}
hr{
    margin-top: 2rem;
}
/* section.top::after{
    width: 200%;
    content: "";
    display: block;
    height: 1px;
    background-color:#c1c1c1;
    position: absolute;
    left: 50%;
    top:100%;   
    transform: translateX(-50%);
    margin-top: 1rem;
} */

/* Second/bottom Section */

div>.section.bottom>.square{
    padding-top: 1rem;
    float: left;
    height:100%;
    width: calc(50% - 0.5rem);
    text-align: center;    
}
div>.section.bottom>.square:first-child{
    margin-right: 1rem;
}
div>.section.bottom>.square.left>img{
    height: 100%;
    padding: 1rem;
}

div>.section.bottom>.square.right{
    padding: 3.5rem 3.5rem 3.5rem 2rem;
    text-align: left;
}

div>.section.bottom>.square.right>h4{
    font-size: 1.6rem;
    width: 80%;
    text-align: left;
}

div>.section.bottom>.square.right>p{
    padding: 1rem 0;
    width: 80%;
    color: #969696;

}
div>.section.bottom>.square.right>a{
    color: #6a95c4;
    display: inline-block;
}

/* FOOTHER style  */
footer{
    height: 150px;
    background-color: #d3d3d3;
}

footer>.contenitore>div.bottom-bar{
    height: 70px;
    line-height: 70px;
    background-color: red;

}

footer>.contenitore>div.bottom-bar>.square{
    float: left;
    height:100%;
    width: calc(50% - 0.5rem);
    border:1px solid black;
    text-align: left;
    
}
footer>.contenitore>.bottom-bar>.square:first-child{
    margin-right: 1rem;
}

.square.left>h4{
   
    font-size: 1.6rem;
    
}
/* 
footer>.contenitore>div.bottom-bar>.square.right{
    background-color: inherit;
    color:#8b8b8b;
    font-size: 1rem;
    padding: 3.1rem 0 0 4rem;
}
#prof-selector{
    background-color: inherit;
    color:#8b8b8b;
} */